/* general styles */
.main {
  max-width: 1400px;
  margin: auto;

}
.h1 {
  text-align: center;
  font-size: 3rem;
}

.main_grid_container {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.flex_container_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--secondary);
  align-items: center;
  margin: 1rem;
}
.btn_container {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 38px;
  text-align: center;
  padding: 0.8rem 5rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--secondary);
  color: var(--primary);
  margin-bottom: 2rem;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 100ms;
  transition-property: transform;
  color: white;
}

.btn:checked + span .amenities_pic {
  filter: invert(24%) sepia(48%) saturate(507%) hue-rotate(109deg)
    brightness(35%) contrast(88%);
}


/* location and address section */
.main input[type='text'],
.main textarea,
.main select {
  display: inline-block;
  box-sizing: border-box;
  width: 80%;
  padding: 0.7rem 1.2rem;
  margin: 0.5rem 0;
  margin-left: 1.2rem;
  font-family: 'Raleway', sans-serif;
  background: #ffffff;
  border: 2px solid #225544;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 500;
  font-size: 26px;
}
.main textarea {
  min-height: 300px;
  max-width: 500px;
  min-width: 500px;
}
.main label {
  color: var(--secondary);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  margin-left: 1.2rem;
}
/* description section */
.description_p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  width: 80%;
  margin-left: 1.2rem;
}
/* location categories */
.location_category_grid_container {
  margin-top: 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
  justify-content: center;
}
.location_category {
  /* margin-bottom: 2rem; */
  /* width: 4rem; */
  justify-content: center;
}
.location_category label {
  font-weight: 500;
  cursor: pointer;
}
.location_category span {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: var(--primary);
  padding: 0.4rem 1.8rem;
  border-radius: 6px;
  width: 100%
}
.location_category label input {
  display: none;
}
.location_category input:checked + span {
  background-color: var(--secondary);
  color: var(--primary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* amenities section */

.flex_container_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: var(--secondary);
  align-items: center;
  margin-top: 1rem;
}

.amenities_category input:checked + span .amenities_pic {
  filter: invert(24%) sepia(48%) saturate(507%) hue-rotate(109deg)
    brightness(35%) contrast(88%);
}

.amenities_category label input {
  display: none;
}

.amenities_category_grid_container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}
/* .amenities_category {
  border-radius: 8px;
} */
.amenities_pic:hover {
  filter: invert(24%) sepia(48%) saturate(507%) hue-rotate(109deg)
    brightness(35%) contrast(88%);
}
.amenities_category:hover {
  transform: scale(1.1);
  transition-duration: 100ms;
  transition-property: transform;
}


.label{
  width: 80%;
  align-items: left;
  margin-top: 1rem;
}

.input{
  margin:10rem;
  width:80%;
}