.display_container{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 70vh;
    overflow: auto;
    margin-top: 3vh;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  }
  
  .display_container::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  .display_container::-webkit-scrollbar-track {
    background: #225544;  /* color of the tracking area */
    border-radius: 10px;        
  }
  
  .display_container::-webkit-scrollbar-thumb {
    background-color: #E8A941;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    height: 50px;
  }
  
.noResultsContainer{
  margin-top: 25%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  color: #E8A941;
  background-color: #225544;
  height: 20vh;
  padding: 1rem;
}

.noResults{
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}