.display_container{
    display: flex;
    flex-direction: column;
    width: 37vw;
    height: 60vh;
    overflow: auto;
 
}

.display_container::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  .display_container::-webkit-scrollbar-track {
    background: #225544;  /* color of the tracking area */
    border-radius: 10px;        
  }
  
  .display_container::-webkit-scrollbar-thumb {
    background-color: #E8A941;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    height: 50px;
  }
  