.dropdown{
    background-color: #225544;
    border: none;
    color: #E8A941;
    margin: 10px;
    width:10vw;
    padding-bottom: 8px;
    font-family:  "Raleway", sans-serif ;
    font-size: 1.2vw
}
