@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800;900&display=swap');

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: 80rem;
  /* min-height: 65vh; */
  padding: 0 1rem;
  margin-top: 1.8rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  padding: 1rem 0;
  margin-top: 3rem;
}

.title {
  color: var(--secondary);
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  /* align-items: left; */
  /* width: 80%; */
}

.description {
  display: flex;
  text-align: left;
  margin: 1rem 0;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  width: 80%;
  color: var(--secondary);
  color: darkred;
  font-weight: 600;
}

.form [type='file'] {
  font-size: 1em;
  padding: 1em;
  border: solid 1px gray;
  border-radius: 0.5em;
}

.form button {
  color: white;
  font-size: 1.5em;
  background-color: darkred;
  padding: 0.5em 0.8em;
  border: none;
  border-radius: 0.2em;
}

.form button:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 100ms;
  transition-property: transform;
}

.form code {
  text-align: left;
}

.img {
  max-width: 80%;
}
