@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800;900&display=swap');

.container {
    display: grid;
    grid-template-rows: 1fr auto;
    max-width: 80rem;
   min-height: 80vh;
    padding: 0 1rem;
    
  }
  .h1{
    font-size: 3.5rem;
    
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
  }
  
  .title {
    margin: 0;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
  }
  
  .description {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    width: 80%;
  }
  
  .form 
  
    [type="file"] {
      font-size: 1em;
      padding: 1em;
      border: solid 1px gray;
      border-radius: .5em;
    }
  
    .form button {
      color: var(--primary);
      font-size: 1.5em;
      background-color:var(--secondary);
      padding: .5em .8em;
      border: none;
      border-radius: .2em;
    }

    .form button:hover {
    color: white;
      cursor: pointer;
    }
  
    .form code {
      text-align: left;
    }
  
  
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }

  .img{
    max-width: 100%;
  }