.dropdown{
    background-color: transparent;
    border: none;
    color: #E8A941;
    width:12vw;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .options{
    color: black;
 }   

 @media screen and (max-width: 850px){
  .dropdown{
    margin-left: 1rem ;
    background-color: transparent;
    border: none;
    color: #E8A941;
    width:60%;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .options{
    max-width:50%;
 }   
  }
