/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800;900&display=swap');

/* general styles */

.page_width {
  max-width: 1400px;
  /* width: 100%; */
  margin: 0 auto;
  
 
}

.h2 {
  font-family: 'Raleway', sans-serif;
  color: var(--primary);
  font-size: 1.5rem;
  margin-bottom: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.logo_container {
  text-align: center;
  margin-bottom: rem;
}

.main {
  margin: 1rem;
}

img .logo_image {
  height: 300px;
  width: 200px;
}
.main .about_us_main_grid_container {
  width: 80%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1.8rem;
}

.about_us_description_container {
  background-color: var(--secondary);
  /* display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin: 3rem;
  margin-right: 1rem;
  border-radius: 10px; */
  color: white;
  font-family: 'Raleway', sans-serif;
  grid-column: span 4;
  padding: 0.5rem 2rem 0rem 2rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
 
}

.about_us_description_paragraph {
  /* margin-left: 1.5rem;
  margin-right: 1.5rem; */
  font-size: 0.9rem;
  font-family: 'Raleway', serif;
}

.about_us_images_container {
  background-color: var(--secondary);
  /* display: flex;
  flex-direction: row;
  width: 50%;
  height: 50%;
  margin: 3rem; */
  /* margin-left: 1rem; */
  /* border-radius: 10px; */
  /* flex-wrap: wrap;
  justify-content: space-around; */
  padding: 1rem;
  grid-column: span 5;
  align-self: center;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
}

.images_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  padding: 1rem;

  /* grid-row: 400px; */
  gap: 1rem;

  /* margin: auto; */
  /* gap: 1.5rem; */
}
.images {
  width: 100%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 4px;
  object-fit: cover;
  margin: 5px;
  align-self: center;
}

.review_section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.reviews {
  margin-top: 1rem;
  background-color: var(--secondary);
  /* display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2rem;
  margin-right: 1rem;
  border-radius: 10px; */
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 1rem;
  grid-column: span 2;
  gap: 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
}

.reviews h2 {
  margin-top: 0;
  color: var(--primary);
  font-size: 1.4rem;
}


.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 38px;
  text-align: center;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--primary);
  color: var(--secondary);
  margin-bottom: 0.5rem;
  margin-top: .0
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 100ms;
  transition-property: transform;
}

.btn:checked + span .amenities_pic {
  filter: invert(24%) sepia(48%) saturate(507%) hue-rotate(109deg)
    brightness(35%) contrast(88%);
}



.instructions{
  text-align: center;
  background-color: var(--secondary);
  padding: 2rem;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: 'Raleway', serif;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 75%;
}
.instructions_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0, auto;
  padding: 0.5rem 0;
}