@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800;900&display=swap');

.location_page_wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.location_page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 75%;
  background-color: #225544;
  margin: 5vh auto;
  padding: 5vh;
  border-radius: 10px;
  color: white;
  font-family: 'raleway';
  font-size: 1.1vw;
  height: 100%;
}

.left_div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 80%;
  /* margin-right: 2.5vw ; */
  margin: 0 auto;
  /* justify-content: space-between; */
}

.right_div {
  /* display: flex;
  flex-direction: column; */
  width: 80%;
  margin: 0 auto;
}

/* .amenities {
  display: grid;
  align-items: center;
  max-width: 40vw;
  /* flex-wrap: wrap;
  justify-content: space-between; */
/* font-size: 1vw;*/

.amenities,
.categories {
  margin-top: -1rem;

  /* margin-top: 1rem; */
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.icon_description {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.icon {
  width: 2vw;
  height: 2vw;
  margin-right: 10px;
}

.image {
  width: 100%;
  /* height: 30vw; */
  border-radius: 10px;
  max-height: 60vh;
  object-fit: contain;
}

.heading {
  color: #e8a941;
}
.heading_description {
  color: #e8a941;
  padding-top: 2rem;
}

.title {
  /* text-decoration: underline; */
  font-size: 2rem;
  margin-top: 0;
}

.right_div p {
  margin-bottom: 0px;
}

.map {
  width: 100%;
}

.map_container {
  width: 100%;
  height: 50vh;
  margin-top: 3vh;
  border-radius: 10px;
}

.marker {
  background-image: url('../public/location-marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.report {
  /* position: sticky;
  margin-bottom: 0; */
  /* justify-self: end; */
  /* margin-top: auto; */
  display: flex;
  align-items: center;
  color: white;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.report img {
  margin-left: 10px;
  height: 30px;
  width: 30px;
}
.modal {
  margin-top: auto;
}

.report_form input[type='text'],
.report_form textarea,
.report_form input[type='email'] {
  display: inline-block;
  box-sizing: border-box;
  width: 80%;
  padding: 0.7rem 1.2rem;
  margin: 0.5rem 0;
  margin-left: 1.2rem;
  font-family: 'Raleway', sans-serif;
  background: #ffffff;
  border: 2px solid #225544;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 500;
  font-size: 1rem;
}

.report_form textarea {
  height: 200px;
  /* max-width: 500px;
  min-width: 500px; */
}

.report_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report_form label {
  color: var(--secondary);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;

  align-self: flex-start;
  margin-left: 3rem;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  /* line-height: 38px; */
  text-align: center;
  padding: 0.8rem 5rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--secondary);
  color: var(--primary);
  margin: 2rem;
}

.button:hover {
  cursor: pointer;
  color: white;
}
.form_submission {
  color: #225544;
}
@media screen and (max-width: 600px) {
  .left_div {
    grid-column: span 2;
  }
  .right_div {
    grid-column: span 2;
  }
  .location_page {
    max-width: 95%;
    /* width: 95%; */

    margin: 2rem 0.5rem;
    padding: 1rem;
    border-radius: 10px;

    font-size: 1.1rem;
    height: 100%;
  }
  .left_div {
    width: 100%;
  }
  .right_div {
    width: 100%;
  }
  .title {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
  }
  .categories {
    width: 90%;
    justify-content: center;
    margin: 0 auto;
  }
  .categories p {
    margin: 0.2rem;
  }
  .amenities {
    margin: 0 auto;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.8rem;
  }
  .icon_description p {
    margin: 0.3rem;
  }
  .report {
    margin: 0 auto;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  .report img {
    margin-left: 0.6rem;
    height: 1.5rem;
    width: 1.5rem;
  }
}
