@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

.card{
    display: flex;
    background-color: #225544;
    width:26vw;
    height:20vh;
    margin-bottom: 15px;
    padding:15px;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
    font-family:  "Raleway", sans-serif ;
}

.card_img{
    max-height: 100%;
    width:35%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    object-fit: cover;
}


.card_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    margin-left:15px;
    
}

.title {
    color: #E8A941;
    margin: 0;
    font-size: 1.2vw;
}

.description{
    
    max-height:50%;
    overflow: hidden;
    font-size: 0.8vw;
    margin-top: 0;
    margin-bottom: 5;

}
.amenities_button{
    display: flex;
    justify-content: space-between;
}

.button{
    background-color: #E8A941;
    color: #225544;
    border: none;
    border-radius: 5px;
    max-height:25px;
    min-width:26%;
    font-size: 0.8vw;
}

.moreInfo{
    height: 1.7vw;
}


@media screen and (max-width: 850px){

    .card{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding:5px;
        height:30vh;
    }
    .card_details{
        display: inline;
        width: 90%;
        height: 60%;
        font-size: 1.5rem;
        margin: 0.2rem;
        
    }
    .card_img{
        height: 30%;
        width:100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 10px;
        object-fit: cover;
    }
    .title {
    font-size: 0.8rem;
    margin: 0.2rem 0;
    }

    .description{
        overflow: hidden;
        font-size: 0.8rem;
        max-height: 60%;
               margin: 0.5rem 0;
    
    }
  .amenities{
    display: none;
  }
  .more_info_button{
    position: absolute; 
    bottom: 0;
    margin-bottom: 1.5rem;
}
}
