@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');


.map_container{
    width:50vw;
    height: 70vh;
    margin-top: 3vh;
    border-radius: 10px;
}

.marker {
    background-image: url('../public/location-marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

.marker:hover{
    filter: invert(24%) sepia(48%) saturate(507%) hue-rotate(109deg)
    brightness(35%) contrast(88%);
}

 .popup{
    font-family:  "Raleway", sans-serif ;
 }