@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

.header {
  position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 6;
  background-color: #225544;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8vh;
  padding: 1vh 0;
  padding-left: 5%;
  padding-right: 5%;
  /* padding-top: 2vh; */
  color: #e8a941;
  font-family: 'Raleway', sans-serif;
  font-size: 16;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.image{
    transform: scale(0.8);
}


.image:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  /* padding-top: 3vh; */
  font-size: 1vw;
  align-items: center;
  

}

.link,
.link_desktop,
.header a {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  
}
.link:hover,
.link_desktop,
.header a:hover {
  color: white;
  text-decoration: underline 4px #e8a941;
  transform: scale(1.1);
  transition-duration: 100ms;
  transition-property: transform;
  

}



.profile_image {
  border-radius: 50%;
}
.default_image {
  position: relative;
  bottom: 20px;
}

.hamburger{
  visibility: hidden;
}

@media screen and (max-width: 800px){

  .link_desktop{
  visibility: hidden;
}

.hamburger{
  visibility: visible;
}
  
}